@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


@media (max-width: 991px)
{
    footer 
    {
        padding: 40px;
    }
    footer .containerfooter
    {
        grid-template-columns: repeat(2,1fr);
    }
    .copyrightText
    {
        padding: 8px 40px;
    }
}
@media (max-width: 768px)
{
    footer .containerfooter
    {
        grid-template-columns: repeat(1,1fr); 
    }
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5ff;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}


.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0px 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0px 10px var(--white);
    pointer-events: none;
}

/* Main */

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Infor */

.sanpham {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.infor
{
   position: relative;
   width: 1200px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 20px;
   padding: 50px;
}
.infor .card 
{
    width: 100%;
    background-color: #fff;
    
}
.infor .card .imgBx
{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}
.infor .card .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}
.infor .card:hover .imgBx img
{
    transform: scale(1.5);
}

.action
{
    position: absolute;
    top: 10px;
    right: 10px;
}
.action li
{
    display: flex;
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    background: #fff;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateX(60px);
}
.container .card:hover .action li
{
    transform: translateX(0px);
}
.action li:nth-child(2)
{
    transition-delay: 0.15s;
}
.action li:nth-child(3)
{
    transition-delay: 0.3s;
}
.action .card:hover .action li
{
    transform: translateX(0px);
}
.action li:hover
{
    background: #ff2020;
    color : #fff;
}
.action li span
{
    position: absolute;
    top: 50%;
    right: 50px;
    background: #fff;
    color: #333;
    border-radius: 4px;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: 500;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}
.action li:hover span
{
    transform: translateY(-50%) translateX(0px);
    opacity: 1;
}
.action li span::before
{
    content: '';
    position: absolute;
    top: 50%;
    right: -4px;
    transform: translateY(-50%) rotate(45deg);
    width: 8px;
    height: 8px;
    background: #fff;
}
.container .card .content
{
    padding: 10px;
}
.container .card .content .productName h3
{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 5px;
}
.container .card .content .price_rating
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .card .content .price_rating h2
{
    font-size: 20px;
    font-weight: 500;
    color: #ff2020;
}
.container .card .content .price_rating .fa
{
    color: #ffd513;
    cursor: pointer;
}
.container .card .content .price_rating .fa.grey
{
    color: #ccc;
}


/* footer */

.footer {
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 50vh;
}

footer
{    
    background: #3004a5;
    padding: 50px 100px;
    height: auto;
    width: 100%;
    position: relative; 
}
footer .containerfooter
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}
footer .containerfooter .sec h2
{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .containerfooter .sec h2::before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffeb3b;
}
footer .containerfooter .sec p
{
    color: #fff;
}
.sci
{
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(4, 50px);
   grid-gap: 10px;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #3e56cb;
     display: grid;
     align-content: center;
     justify-content: center;
     text-decoration: none;
     border-radius: 4px;
}
.sci li a:hover
{
    background: #6380fe;
}
.sci li a .fa
{
    color: #fff;
    font-size: 20px;
}
.quicklinks
{
    position: relative;
}
.quicklinks li
{
    list-style: none;
}
.quicklinks li a
{
    color: #f7f7f7;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}
.quicklinks li a:hover
{
    color: #ffeb3b;
}
.info 
{
    position: relative;
}
.info li
{
    display: grid;
    GRID-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
}
.info li span
{
    color: #fff;
}
.info a
{
    color: #f7f7f7;
    text-decoration: none;
} 
.info a:hover
{
    color: #ffeb3b;
}
